<html>
  <head>
    <title>Video Streaming Demonstration</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  <script type=text/javascript>
    $(function() {
      $('button').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/_add_numbers', function(data) {
          $("#target_image").attr('src',"/js/" + data.result + ".jpg?"+Date.now());
        });
        return false;
      });
    });
  </script>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id=target_image src="/js/1.jpg">
    <span>
<p>
<button id=calculate type="button">Update Target</button>
  </body>
</html>
